@media(min-width:376px){

  *{
    margin:0;
    padding:0;
  }

  .wrapper{
    position: relative;
    overflow-x: hidden;
  }

  html{
    height:100%;
    box-sizing: border-box;
    Margin:0;
    padding:0;
    overflow-x: hidden;

  }

  body{
    margin:0 auto;
    background-color: whitesmoke;
    overflow-x:hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }

  .app-container{
    max-width:1720px;
    margin: 0 auto;
  }

  a{
    color:white;
  }

  li{
    list-style:none
  }

  textarea{
    width:90%;
    margin:0 auto;
    margin-bottom: 1.5em;
    padding-left:.5em;
    border-radius:6px;
    border: 1px solid rgb(108, 180, 114)
  }

  nav{
    display:flex;
    justify-content: space-between;
    min-height:8vh;
    align-items:center;
    padding:0 1.5em;
    color:white;
    background:rgba(16, 214, 92, 0.877);
  }

  .title{
    font-family: 'IM Fell English SC', serif;
    text-align: center;
    font-size:170%;
  }
  .logo{
    height:3em;
    width:3em;
  }

  .nav-links a{
    color:white;
    opacity:1;
    
  }
  .nav-links{
    letter-spacing: 1px;
    text-transform:capitalize;
    display:flex;
    justify-content:space-around;
    position:absolute;
    right:0px;
    top:8vh;
    list-style:none;
    height:80vh;
    background:rgba(16, 214, 92, 0.877);
    display:flex;
    flex-direction:column;
    width:50%;
    align-items:center;
    transform:translateX(100%);
    z-index:1000;
    transition:transform .35s ease-in-out;
  }

  .hamburger div{
    height:2px;
    background:white;
  }

  .hamburger{
    width:24px;
    height:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
  }

  .nav-active{
    transform:translateX(0%);
  }


  /* .line-1{
    
  }
  .line-2{
   
  }
  .line-3{
    
  } */

  @keyframes navLinkFade {
    from{
      opacity:0;
      transform:translateX(50px);
    }
    to{
      opacity:1;
      transform:translateX(0px)
    }
  }

  .footer{
    height:10vh;
    background-position-y: 4%;
    background-size:cover;
  }

  p{
    margin:0;
  }

  h3{
    font-size:1.5rem;
    margin: 0;
  }
  
  .simple-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1em;
    max-width: 250px;
    color: rgba(0,0,0,.87);
  }
  .menu-title{
    font-weight: bold;
    text-transform: capitalize;
  }

  .sub-heading{
    text-align: center;
    text-transform: capitalize;
    margin-bottom:1em;
  }


  .signature{
    font-family: 'Ms Madi', cursive;

  }

  .customer-message{
    margin:5.5em 1.25em;
    display:flex;
    flex-direction:column-reverse;
  }
  .m-message h2{
    font-family: 'Philosopher', sans-serif;
    margin:0 0 0 .25em;
  }
  .m-message p{
    width:90%;
    margin:.5em auto 0 auto;

    
  }
  .m-message{
    font-family: 'Philosopher', sans-serif;
    margin:2em auto 0 auto;
    width:100%;
  }
  
  .m-image{
    height:225px;
    width:350px;
    margin:0 auto;
    background-position:center;
    background-size:cover;
    border-radius:9px;
  }
/*---MainDashboard---*/
/*---MainDashboard---*/
/*---MainDashboard---*/

  .back-print h1{
    text-align:center;
    font-size: 250%;

  }
  .back-print h2{
    text-align: center;
    font-size: 200%;

  }

  .title-paragraph-med p{
    text-align:center;
  }

  .title-paragraph-med{
    max-width:900px;
    margin:0 auto;
    padding:0 2em;
  }

  

  .back-print{
    background-size:cover;
    background-position:center;
  }
  
  .location-container h4{
    color:whitesmoke;
    font-size:1.2em;
  }
  .location-container{
    padding: 0 23px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:81px;
    width:auto;
    border-radius: 9px;
    margin:0 1em 2em;
    box-shadow:0px 4px 6px rgb(65, 65, 65, 0.568);
    background-size:cover;
    background-position:center;
  }

  .DButton{
    /* width:75px;
    height:35px; */
    padding: 8px 15px;
    justify-self: auto;
    border-radius:6px;
    color:white;
    background:rgba(240, 183, 25, 0.897);
    border:indianred;
    box-shadow:0px 3px 6px rgba(65, 65, 65, 0.568);
  }

  .taco-header{
    width:auto;
    height:241px;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 11px 11px;
    margin-bottom:2em;
  }


/*---MenuList---*/
/*---MenuList---*/
  .menu-container{
    display:grid;
    grid-template-columns: auto auto ;
    grid-gap:25px 25px;
    padding-bottom:2.5em;
    justify-content:center;
  }

  .menu-option-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding:1em 0;
    margin: 0 auto 2em auto
  }

  .menu-options{
    width:auto;
    background:red;
    border:none;
    border-radius:9px;
    padding:.5em 1em .5em 1em;
    margin:0 .5em 0 .5em;
    flex-shrink: 0;
    color:white;
  }

  .menu-list{
    padding:2em 1em 0 1em;
  }

  .selected{
    background:#1cdd73c0;
    background-image:Linear-gradient(#1cdd73f0,#1cdd73da),url(/src/imgs/aztec.webp);
    background-size:cover;
    background-position:center;
  }
  /*---Menu---*/
  /*---Menu---*/
  .menu{
    height:150px;
    width:150px;
    background-size:cover;
    background-position:center;
    border-radius: 9px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    box-shadow:0px 4px 6px rgb(65, 65, 65, 0.568);
  }
  .menu-text{
    height:44px;
    max-width: 225px;
    padding-top:10px;
    text-align: center;
    color:white;
    background: red;
    border-radius:0 0 9px 9px;
  
  }

  .menu-heading{
    height:44px;
    max-width: 225px;
    margin:0 auto 3.5em;
    padding-top:5px;
    text-align: center;
    color:white;
    background: red;
    border-radius:0 0 9px 9px;
  }
  .Menu-Menu{
    
    margin: 0 1.5em;
  }

  .menu-items{
    display: flex;
    flex-direction: row;
    margin-bottom:3em;
    padding-bottom:1.75em;
    border-bottom:1px solid #e72b2b
  }

  .menu-pic{
    height: 100px;
    width:100px;
    background-size:cover;
    background-position:center;
    border-radius: 11px;
    box-shadow:4px 3px 7px rgb(65, 65, 65, 0.568);
  }

  .menu-butt{
    height: 100%;
    padding:4px 10px;;
    
  }

  /*----MenuItem----*/
  /*---------------*/
  /*--------------*/
  .small-menu-item{
    max-width:410px;
    margin:0 auto;
    background:white;
    height:100%;
    overflow-y:scroll;
  }

  ._taco-header{
    height:300px;
    background-position:center;
    background-size:cover;
  }
  /* ._quantity-counter{

  } */

  .item-btn{
    text-align:center;
  }

  /*----MenuItem----*/
  /*---------------*/
  /*--------------*/

  /* .item-container{
  } */
  .menu-paragraph{
    max-width:310px;
    margin:0 auto 2em;
  }


  .menu-item{
    text-align: center;
  } 

  .menu-item-title{
    text-align: center;
    margin-bottom: .5em;
    text-transform:capitalize;
  }

  .quantity-counter{
    height:50px;
    width:auto;
    padding-left:2em;
    padding-right:2em;
    background: #e72b2b ;
    border-radius: 0 0 11px 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:3em;
    box-shadow:0px 4px 7px 2px rgba(85, 85, 85, 0.568)
  }

  .counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80px;
  }
  .counter-title{
    color: white;
    font-size: 19px;;
  }
  .counter-window{
    display:flex;
    align-items: center;
    justify-content: center;
    height:25px;
    width:35px;
    color:white;
  }

  .plus{
    border:none;
    color:white;
    background: none;
    font-size:2em;
  }



  .minus{
    border:none;
    color:white;
    background:none;
    font-size:2em;
  }

  /*----substitutions----*/
  /*--------------------*/
  /*-------------------*/

  .substitutions-container{
    width: auto;
    height: auto;
    margin-bottom:3em;
    ;
  }


  .info-p{
    font-style: italic;
  }

  .m-message .line{
    width:60%;
    border-bottom:1px solid #e72b2b;
    margin:0;
  }
  .line{
    margin:0 auto;
    height:3px;
    width:40%;
    border-bottom:4px double #e72b2b;
    /* background:#e72b2b; */
  }

  .sub-grid{
    margin:0 auto;
    max-width:320px;
    display:grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
    grid-gap:1em;
    color:white;
    text-transform: capitalize;
    
  }

  .chosen-heading{
    padding-left:1em;
    text-align:left;
  }
  .chosen{
    width:315px;
    height:150px;
    background-size:cover;
    background-position:center;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius:11px;
    box-shadow:0px 6px 7px 2px rgb(65, 65, 65, 0.568);
  }

  .choices{
    width:315px;
    height:150px;
    display:flex;
    justify-content: space-between;
    grid-row-start:2;
    grid-column-end:2;
    border-radius:11px;
    
  }

  .options{
    height:150px;
    width:150px;
    background-size:cover;
    background-position:center;
    grid-row-start:2;
    grid-column-start:2;
    border-radius:11px;
    box-shadow:0px 4px 5px rgb(65, 65, 65, 0.568);
  }
  

  .add-btn a{
    color:white;
  }
  .add-btn{
    margin-bottom:1.5em;
    padding:20px 38px;
    background:#e72b2b;
    border-radius: 11px;
    color: whitesmoke;
    border: none;
  }
  
/*----Cart---*/
/*----------*/
/*---------*/
  .Cart {
    background-size:cover;
    background-position: center;
    color: black;
    padding:2em 0;
    height: 100vh;
  }

  .item-cart{
    height:100%;
  }

  .Cart h2{
  text-align:center;
  color: seashell;
  }

  .order-details{
    display:flex;
    max-width:350px;
    margin: 5em auto;
    border-radius:11px;
    flex-direction:column;
    background:rgba(255, 245, 238, 0.842);
    /* background:rgba(90, 226, 56, 0.842); */
    padding:1em 1em;
    height:auto;
  }
    
  .details ul{
    margin:0 auto;
    height:100%;
    width:85%;
  }

  .details{

    margin-top: 1em;
    /* margin-bottom: 2em; */
    border: none;
    /* background: dodgerblue; */
    /* color: white; */
    padding: 0.2em 0 0.25em 0;

      /* text-align: left;
      margin-top:1em;
      margin-bottom:2em;
      border: none;
      background: none;
      border-bottom:1px solid hsl(0, 80%, 54%) */
  }

  .btn-style{
    color:white;
    background: rgb(54, 149, 244);
    border-radius:9px;
    padding: .5em 0 .55em 0;
  }

  .back-to-menu a{
    color:white;
  }
  .back-to-menu{
    margin-top:3em;
    padding:20px 38px;
    background:rgb(23, 24, 23);
    border-radius: 11px;
    color: whitesmoke;
    border: none;
    margin:0 auto;
    box-shadow:0px 4px 5px rgb(65, 65, 65, 0.568);

  }

  .backToMenu{
    display:flex;
    align-items: center;
    width:auto;
    margin-top:3em;
    margin-bottom: 1.5em;

  }

  .cart-btn{
    margin-top:1em;
    box-shadow:0px 4px 5px rgb(65, 65, 65, 0.568);

  }

  .cart-items{
    display:flex;
    justify-content:space-between;
    height:auto;
    padding:.25em 0 .5em 0;
  }

  .cart-title{
    max-width:80%;
  }

  .cartTotal{
    width:100%;
    display:flex;
    justify-content: space-around;
  }

  /* modal */
  /* ----- */
  /* ----- */

  .modal{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background:rgba(0, 0, 0, 0.642);
  }
  .modal-body{
    position:fixed;
    background:rgba(255, 245, 238, 0.842);
    /* background:rgba(110, 255, 110, 0.842); */
    width:300px;
    height:auto;
    top:33%;
    left:50%;
    padding:.25em 0;
    transform:translate(-50%, -50%);   
    border-radius: 9px;
    text-align: center;
  }

  .modal-options{
    display:flex;
    flex-direction:column;
    width:100%;
    margin-top:.5em;
    text-align:center;
  }
  .option-1{
    border: none;
    border-radius:5px;
    padding:6px 20px;
    color:white;
    background: dodgerblue;
    margin:.75em auto;
    box-shadow: 0px 6px 11px ;

  }
  .option-2{
    border: none;
    border-radius:5px;
    padding:6px 20px;
    color:white;
    background: dodgerblue;
    margin:0 auto 1em auto;
    box-shadow: 0px 6px 11px ;

  }

  .display-none{
    display:none;
  }
  .display-block{
    display:block;
  }

  .close-btn{
    padding:6px 8px;
    margin:0 auto;
    border:none;
    border-radius:9px;
    margin-bottom:.75em;
    box-shadow: 0px 4px 8px ;
    color:seashell;
    background:black;
  }

  .home{
    position:relative;
    height:50vh;
    color:whitesmoke;
    margin:0;
  }

 
  .home-header h1{
    font-family: 'IM Fell English SC', serif;
    font-size:2.5em;
    text-align:center;
  }
  .home-header{
    position:absolute;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:250px;
  }

  .standard-btn{
    padding:8px 13px;
    border:none;
    background: #ef8c29;
    color: white;
    border-radius:6px;
    font-size:120%;

  }

  .home-btn{
    display:flex;
    justify-content: space-around;
    width:100%;
  }

  .intro{
    height:100%;
    width:100%;
    text-align:center;
    padding:3em 0;
  }

  .info-pic h2{
    position:relative;
    transform:translate(-50%, -50%);
    top:50%;
    left:50%;
    text-align:center;
    text-transform: capitalize;
  }
  .info-pic{
    background-position:center;
    background-size:cover;
    margin:0 0 1em;
    width:auto;
    height:166px;
    border-radius: 9px;
    color:white;
  }

  .info-btn{
    margin:0 auto;
    
  }
  .info-p{
    text-indent: 1.5em;
    margin:0 2em 1.5em;
    width:auto;
    text-align: justify;
    
  }

  .cards{
    height:100%;
    width:100%;
    margin-top:4em;
  }

  .card-flex{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:0 auto 3em auto;
  }

  .card{
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    height:300px;
    width:300px;
    margin:2em 0;
    text-align:center;
    border-radius:11px;
    color:white;
    text-transform:capitalize;
  }

  .info-container{
    text-align:center;
  }

  /* .contact-section{

  } */

  .form-section input[type=submit] {
    height:2.5em;
    width:46%;
    border-radius:9px;
    background-color:#1cdd73;
    color:white;
    border:none;
    margin:0 auto;
  }

  .form-section input[type=text] {
    width:90%;
    padding-left:.5em;
    margin:0 auto;
    height:2.5em;
    margin-bottom:2em;
    border-radius:6px;
    border:1px solid rgb(108, 180, 114);
  }

  .form-section form{
    margin-top:1.5em;
  }
  .form-section {
    max-width:300px;
    margin:0 auto;
  }

  form {
    width:auto;
    display: flex;
    flex-direction:column;
  }

  .contact-form{
    margin:6em auto 0;
    padding-bottom:6em;
  }

  .contact-us{
   
    border-radius:14px;
    
  }

}




@media(min-Width:600px){
  /* body{
  } */
  .menu{
    height:200px;
    width:200px    
  }

  .menu-container{
    grid-gap:12%;
  }

  .taco-header{
    height:404px;
  }

  .location-container h5{
    font-size:125%;
  }
  .location-container{
    margin:0 2.5em 4em;
    height:135px;
  }
  .DButton{
    width:105px;
    height:45px;
    font-size:115%
  }

  .menu-menu{
    max-width: 428px;
    margin:0 auto;
  }

  .menu-items{
    margin:0 3.5em 3em;
    padding-bottom:3em;
  }
  .menu-pic{
    height:175px;
    width:175px;
  }

  .menu-title{
    font-size:120%;
  }

  .menu-price{
    font-size:110%;
  }



  .counter-title{
    font-size:135%
  }

  .sub-heading h2{
    font-size:200%;
  }

  
  /* .choices{

  } */

  .sub-grid{
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-gap:1.5em;
  }
/* 
  .options{

  } */

  .counter{
    width:auto;
  }

  .counter-window{
    font-size:125%;
  }

  .menu-item-title{
    font-size:225%;
  }

  .menu-item-price{
    font-size:150%;
    text-align:center;
  }

  .menu-paragraph{
    font-size:125%;
  }

  .chosen-heading{
    font-size:120%;
  }

  .m-image{
    height:275px;
    width:450px;
    background-position:center;
    background-size:cover;
    border-radius: 11px;
  }

  .info-p{
    width:75%;
    margin:0 auto 1.5em;
  }

  .menu-option-container{
    justify-content: center;
  }

}

@media(min-Width:768px){

  .hamburger{
    display:none;
  }

  .nav-links{
    opacity:1;
  }

  .nav-links{
    display:flex;
    justify-content: space-evenly;
    width:30%;
    list-style:none;
    top:auto;
    position:relative;
    background: none;
    flex-direction: row;
    height:auto;
    transform: translateX(0%);
  }
}

@media(min-Width:1024px){
  /* body{
  } */

  /* home section */
  /*--------------*/

  .home-header {
    width: 300px;
  }
  .home-header h1{
    font-size:3.5em;

  }

  .taco-header{
    height: 475px;
  }

  .card-flex{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    max-width:92%;
  }



  .customer-message{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items:center;
    margin:7em auto;
  }

  .m-message h2{
    font-family: 'Philosopher', sans-serif;
    margin:0 0 0 .25em;
    font-size:165%;
  }
  .m-message p{
    width:85%;
    margin:.5em auto 0 auto;
    font-size: 120%;

  }
  .m-message{
    font-family: 'Philosopher', sans-serif;
    margin:0 ;
    width:45%;
  }
  .signature{
    margin:.5em 0 0 3em;
    font-size: 175%;
  }

  .m-image{
    width:600px;
    height: 325px;
    margin:0;
  }

  .m-message .line{
    width:60%;
    border-bottom:3px double #e72b2b;
  }

  .intro{
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin:0 auto;
    padding:6em 0;
  }

  .info-p{
    width:30%;
    margin:0;
  }

  .form-section h2{
    margin:0;
  }

  .form-section{
    /* width:35%; */
    margin:0;
    max-width:100%;
  }

  .menu-option-container{
    overflow-x: hidden;
    border-bottom: 3px double #e72b2b;
    width:75%;
  }

  .menu-list{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:3em auto;
    max-width:1500px;
  }
  .menu-items{
    margin-bottom:5em;
    
  }

  .location-container {
    width:30%;
    height:81px;
  }

  .quantity-counter{
    margin-bottom:.5em;
  }

  @media(min-Width:1400px){
 
  }

}
