@media(max-width:428px){

  *{
    margin:0;
    padding:0;
  }

  html{
    height:100%;
    box-sizing: border-box;
    Margin:0;
    padding:0;
  }


  
  body{
    max-width:428px;
    margin:0 auto;
    background-color: whitesmoke;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
  }

  
  
  .simple-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:unset;
  }
/*---MainDashboard---*/
/*---MainDashboard---*/
/*---MainDashboard---*/
  .TacoVideo{
    background-color:grey;
    height:241px;
    width:350px;
  }
  
  .location-container{
    padding: 0 10px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:81px;
    width:325px;
    background-color:seashell;
    border-radius: 9px;
    margin:0 auto 2.5em;
  }

  .DButton{
    width:75px;
    height:41px;
    padding: 5px;
    justify-self: auto;
  }
  .taco-header{
    width:auto;
    height:241px;
    background: white;
    border-radius: 0 0 11px 11px;
    margin-bottom:2em;
  }
/*---MenuList---*/
/*---MenuList---*/
  .menu-container{
    display:grid;
    grid-template-columns: 125px 125px ;
    grid-gap:20px 25px;
    margin-bottom:2.5em;
    justify-content:center;
  }

  /*---Menu---*/
  /*---Menu---*/
  .menu{
    height:125px;
    width:125px;
    background:grey;
    border-radius: 9px;
    display:flex;
    flex-direction: column;
    justify-content: end;
  }
  .menu-text{
    height:44px;
    margin: 0 auto 3.5em;
    max-width: 225px;
    padding-top:5px;
    text-align: center;
    color:white;
    background: red;
    border-radius:0 0 9px 9px;
  
  }

  .Menu-Menu{
    max-width: 428px;
    margin: 0 1.5em;
  }

  .menu-items{
    max-width: 428px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:2.25em;
    padding-bottom:1em;
    border-bottom:2px dashed #e72b2b
  }

  .menu-pic{
    height: 100px;
    width:100px;
    background: white;
    border-radius: 11px;
  }

  .menu-butt{
    height: 100%;
    padding:4px 10px;;
    
  }

  /*----MenuItem----*/
  /*---------------*/
  /*--------------*/
  .menu-paragraph{
    max-width:310px;
    margin:0 auto 2em;;
  }

  .item-container{
    background-color: #8FFFc2;

  }
  .menu-item{
    text-align: center;
  } 

  .menu-item-title{
    text-align: center;
    margin-bottom: .5em;
  }

  .quantity-counter{
    height:50px;
    width:auto;
    padding-left:2em;
    padding-right:2em;
    background: #e72b2b ;
    border-radius: 0 0 11px 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:3em;
  }

  .counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:80px;
  }
  .counter-title{
    color: white;
    font-size: 19px;;
  }
  .counter-window{
    display:flex;
    align-items: center;
    justify-content: center;
    height:25px;
    width:35px;
    color:white;
  }

  .plus{
    padding:1px 7.5px;
  }



  .minus{
    padding:2px 8px;
  }

  /*----substitutions----*/
  /*--------------------*/
  /*-------------------*/

  .substitutions-container{
    width: auto;
    height: auto;
    margin-bottom:3em;
    ;
  }

  .sub-heading{
    text-align:center;
    margin-bottom:2em;
  }

  .sub-grid{
    margin:0 auto;
    max-width:320px;
    display:grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
    grid-gap:1em;
  }

  .chosen{
    width:315px;
    height:150px;
    background: cadetblue;
    grid-row-start: 1;
    grid-row-end: 2;
    
  }

  .option-1{
    height:150px;
    width:150px;
    background: cadetblue;
    grid-row-start:2;
    grid-column-start:2;
  }
  .option-2{
    height:150px;
    width:150px;
    background: cadetblue;
    grid-row-start:2;
    /* grid-column-start:2; */
  }

  .add-btn{
    margin-bottom:3em;
    padding:20px 38px;
    background:#e72b2b;
    border-radius: 11px;
    color: whitesmoke;
    border: none;
  }
}
